$tablet: 814px;
$mobile: 600px;
$mobile-2: 500px;
$mobile-3: 400px;
.table{
    font-family: 'Montserrat';
    position: relative;
    
    &-header{
        height: 40px;
        padding: 9px 0px;
        border-radius: 4px 4px 0px 0px;
        background: #FAF0FF;
        color: #4200FF;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        @media(max-width: $mobile-2){
          font-size: 13px;
          
        } 
        
    }
    &-body{
        // padding: 10px 0px;
        color: #402A7D;
        border-radius: 0px 0px 4px 4px;
        // border: 1px solid #CFA4EA;
        // background: #EBE3FF;
        backdrop-filter: blur(50px);
        position: relative;
        .add-icon {
          position: absolute;
          right: -48px;
          bottom: 4px;
          cursor: pointer;
          @media(max-width: $tablet){
            right: -40px;
            width: 30px;
            height: 30px;
          }
          @media(max-width: $mobile-2){
            right: -30px;
            width: 25px;
            height: 25px;
          }
        }
       
    }
    .wrapper-btn{
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      margin-top: 32px;
      color: white;
      &--sell {
        padding: 5px 24px;
        width: fit-content;
        color:  rgba(255, 255, 255, 0.5);;
        
        background: rgba(223, 1, 255, 0.2);
      // background: linear-gradient(90deg, #D35FF0 0%, #9B2EDE 100%);
      border-radius: 4px;
      &--active{
        background: linear-gradient(90deg, #D35FF0 0%, #9B2EDE 100%);
        color: white;
      }
     }
     &--add {
      padding: 5px 24px;
      width: fit-content;
      color: white;
      
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    border-radius: 4px;
   }
    }
    
    

}