$tablet: 868px;
$mobile: 600px;
$mobile-2: 500px;
$mobile-3: 400px;
.table{
    font-family: 'Montserrat';
    position: relative;
    &-header{
        height: 40px;
        padding: 9px 0px;
        border-radius: 4px 4px 0px 0px;
        background: #FAF0FF;
        color: #181818;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
    }
    &-body{
        padding: 10px 8px;
        color: #402A7D;
        border-radius: 0px 0px 4px 4px;
        border: 1px solid #CFA4EA;

        background: #EBE3FF;
        backdrop-filter: blur(50px);
        position: relative;
        .add-icon {
          position: absolute;
          right: -48px;
          bottom: 4px;
          cursor: pointer;
        }
       
    }
    .wrapper-btn{
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      margin-top: 32px;
      color: white;
      &--sell {
        padding: 5px 24px;
      width: fit-content;
        color: white;
        
      background: linear-gradient(90deg, #D35FF0 0%, #9B2EDE 100%);
      border-radius: 4px;
     }
     &--add {
      padding: 5px 24px;
      width: fit-content;
      color: white;
      
    background: linear-gradient(90deg, #00C6FB 0%, #005BEA 100%);
    border-radius: 4px;
   }
    }
    
    

}