$tablet: 868px;
$mobile: 600px;
$mobile-2: 500px;
$mobile-3: 400px;
$w-input : 100px;

.table-body-header {
  margin-bottom: 10px;
  font-family: 'Montserrat';
  display: flex;
  align-items: center;
  position: relative;

  .add-icon {
    position: absolute;
    right: -68px;
    top: 0px;
    cursor: pointer;
  }

  .search-input {
    // background: rgba(255, 255, 255, 0.24);
    width: $w-input;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #DBD2F2;
    outline: none;

    &::placeholder {
      color: #e4e4e4;
    }
  }

  .price-input {
    text-align: center;
    @extend .search-input;
    width: 60px;

  }

  .price-input::-webkit-outer-spin-button,
  .price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .search {
    position: relative;

    .dropdown {

      min-width: $w-input;
      text-align: left;
      width: fit-content;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background: #4D3494;
      box-shadow: 0px 0px 20px rgba(225, 211, 255, 0.15);
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      max-height: 200px;
      overflow-y: scroll;
      z-index: 9;
      &::-webkit-scrollbar {
        width: 3px;
        height: 20px;
      }

      &::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px black;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #a0a4a7;
        border-radius: 10px;
      }

      div {
        padding: 6px 16px;
      }

      div:hover {
        background: #332A6C;
        cursor: default;
      }
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 10px;
    justify-content: center;

    @media (max-width: $mobile) {
      gap: 6px;
    }

    @media (max-width: $mobile-3) {
      gap: 4px;
    }

    input {
      width: 60px;
      height: 30px;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #BE8AFF;
      background: rgba(255, 255, 255, 0.1);

      @media (max-width: $mobile) {
        width: 32px;
        height: 32px;
      }

      @media (max-width: $mobile-2) {
        padding: 6px;
        width: 30px;
        height: 30px;
      }

      @media (max-width: $mobile-3) {
        padding: 4px;
        width: 24px;
        height: 24px;
      }
    }

    &-btn {

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #BE8AFF;
      font-weight: bold;
      width: 24px;
      height: 24px;
      padding: 4px;
      font-weight: bold;
      user-select: none;
      // line-height: normal;
      // border-radius: 50%;
      cursor: pointer;

      @media (max-width: $mobile) {
        width: 20px;
        height: 20px;
        font-size: 16px;
      }

      @media (max-width: $mobile-2) {
        width: 18px;
        height: 18px;
        font-size: 14px;
      }

      @media (max-width: $mobile-3) {
        width: 16px;
        height: 16px;
        font-size: 13px;
      }
    }

    &-minus {
      // background: linear-gradient(180deg, #89e6ff 0%, #3b7ce3 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // border: 1px solid #89e6ff;
    }

    &-plus {
      // background: linear-gradient(180deg, #89e6ff 0%, #3b7ce3 100%);
      // color: #fff;
    }
  }
}