$tablet: 868px;
$mobile: 600px;
$mobile-2: 500px;
$mobile-3: 400px;
$w-input: 100px;

.container {
    // margin-bottom: 10px;
    padding: 14px 0px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #402A7D;
    display: flex;
    flex-direction: column;
    // align-items: center;
    position: relative;
    background: #EBE3FF;
    margin-top: 5px !important;
    
    &-hide{
        display: none !important;
    }
    .add {
        cursor: pointer;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        ;
        justify-content: center;
        padding: 8px 0px;
        &-icon {
            width: 20px;
            height: 20px;
        }
        &-title {
            color: #c190ff;
            font-size: 14px;
            font-weight: 500;
            margin-left: 12px;
        }
    }
    // .add:hover {
    //     .add-icon {
    //         color: #E78EA9 !important;
    //     }
    //     .add-title {
    //         color: #E78EA9;
    //     }
        
    // }
    .nft-image{
        width: 30px;
        height: 30px;
    }
    .search-input {
        // background: rgba(255, 255, 255, 0.24);
        width: $w-input;
        padding: 4px 6px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #dbd2f2;
        outline: none;
        @media (max-width: $mobile-2) {
            width: 50px;
        }
        &::placeholder {
            color: #e4e4e4;
        }
    }
    .input-wrapper{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: flex-start;
        
    }
    .row-error{
        flex-flow: unset !important; 
        max-height: 40px;
    }
    .error{
        color:red;
        margin-top: 8px;
        font-size: 11px;
    }
    .price-input {
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #be8aff;
        @extend .search-input;
        width: 60px;
        @media (max-width: $mobile-2) {
            width: 40px;
        }
    }

    .price-input::-webkit-outer-spin-button,
    .price-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .delete-icon{
        cursor: pointer;
        // color: rgba(193, 144, 255, 0.25);
        color: #C190FF !important;
        &--active{
            color: #C190FF !important;
        }
    }
    .delete-icon:hover{
        transform: scale(1.15);
    }
    .quantity {
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 10px;
        justify-content: center;

        @media (max-width: $mobile) {
            gap: 6px;
        }

        @media (max-width: $mobile-3) {
            gap: 4px;
        }

        input {
            width: 60px;
            height: 30px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #be8aff;
            background: rgba(255, 255, 255, 0.1);

            @media (max-width: $mobile) {
                width: 32px;
                height: 32px;
            }

            @media (max-width: $mobile-2) {
                padding: 6px;
                width: 30px;
                height: 30px;
            }

            @media (max-width: $mobile-3) {
                padding: 4px;
                width: 24px;
                height: 24px;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: #be8aff;
            font-weight: bold;
            width: 24px;
            height: 24px;
            padding: 4px;
            font-weight: bold;
            user-select: none;
            // line-height: normal;
            // border-radius: 50%;
            cursor: pointer;

            @media (max-width: $mobile) {
                width: 20px;
                height: 20px;
                font-size: 16px;
            }

            @media (max-width: $mobile-2) {
                width: 18px;
                height: 18px;
                font-size: 14px;
            }

            @media (max-width: $mobile-3) {
                width: 16px;
                height: 16px;
                font-size: 13px;
            }
        }

        &-minus {
            // background: linear-gradient(180deg, #89e6ff 0%, #3b7ce3 100%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // border: 1px solid #89e6ff;
        }

        &-plus {
            // background: linear-gradient(180deg, #89e6ff 0%, #3b7ce3 100%);
            // color: #fff;
        }
    }
}
