.cn-wallet {
    padding: 10px 18px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(180deg, #00c6fb 0%, #005bea 100%);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    cursor: pointer;
  }