$break-point-1: 814px;
$mobile: 576px;
.profile {
    background: url("../../assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    .row {
        display: flex;

        .left {
            min-width: 300px;
            min-height: 100vh;
            @media(max-width: $break-point-1){
                display: none;
            }

			@media (min-width: 1600px) {
                min-width: 360px;
            }
        }

        .right {
            padding: 60px 48px 30px 48px;
            width: 100%;
           
            .breadcrums{
                :global{
                    .MuiTypography-root{
                        color: 
                        #833F1D !important;
                        font-size: 16px;
                        text-transform: capitalize;
                        
                    }
                    .MuiBreadcrumbs-li{
                        cursor: pointer;
                        
                    }
                    .MuiSvgIcon-fontSizeMedium{
                        color: 
                        #833F1D !important;
                        // background-color: #625D83 !important;
                    }
                }
                padding-bottom: 18px;
                margin-bottom: 40px;
                border-bottom: 1px solid #944850;
                
            }
            @media(max-width: $break-point-1){
                padding: 40px 8px;
            }
        }
    }
}
