$break-point-1: 814px;
$mobile: 576px;
.profile {
    .row {
        display: flex;

        .left {
            min-width: 300px;
            min-height: 100vh;
            @media(max-width: $break-point-1){
                display: none;
            }
        }

        .right {
            padding: 60px 48px 30px 48px;
            width: 100%;
            .breadcrums{
                :global{
                    .MuiTypography-root{
                        color: #BC88FF !important;
                        font-size: 16px;
                        text-transform: capitalize;
                        
                    }
                    .MuiBreadcrumbs-li{
                        cursor: pointer;
                    }
                    .MuiSvgIcon-fontSizeMedium{
                        color: #625D83 !important;
                        // background-color: #625D83 !important;
                    }
                }
                padding-bottom: 18px;
                margin-bottom: 40px;
                border-bottom: 1px solid rgba(64, 42, 125, 0.5);
                
            }
            @media(max-width: $break-point-1){
                padding: 40px 8px;
            }
        }
    }
}
