.modal-box {
    border-radius: 8px;
    padding: 10px;
    max-width: 1080px;
    z-index: 9999;

    :global(.modal-content) {
        width: 1080px;
        background: #ebe3ff;
        border-radius: 8px;
    }

    .modal-body {
        background: #ebe3ff;
        border-radius: 8px;
        // padding: 10px;

        .modal-style {
            background: #ebe3ff;
            border-radius: 8px;
            height: fit-content;

            .close-icon {
                text-align: right;
                cursor: pointer;
            }

            .title {
                text-align: center;
                .big-title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #402a7d;
                    text-transform: uppercase;
                }
            }

            .main-content {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin: 40px 0px;

                .left {
                    width: 320px;
                    height: 320px;
                    border-radius: 8px;
                    border: 1px solid #ad99e7;
                    margin-right: 40px;

                    img {
                        border-radius: 8px;
                    }
                }

                .right {
                    background: #402a7d;
                    backdrop-filter: blur(50px);
                    border-radius: 4px;
                    padding: 32px;
                    min-width: 500px;

                    .title {
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 8px;

                        .first {
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 150%;
                            color: #ffffff;
                            margin-right: 10px;
                        }

                        .second {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 150%;
                            color: #be74ff;
                            margin-right: 10px;
                        }
                    }

                    .third {
                        background: #ad99e7;
                        border-radius: 4px;
                        padding: 2px 11px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 150%;
                        color: #402a7d;
                        width: fit-content;
                    }

                    .content {
                        display: flex;
                        align-items: baseline;
                        margin-top: 16px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;

                        .title {
                            color: #d9adff;
                            padding-right: 10px;
                        }

                        .value {
                            color: #ffffff;
                            text-align: justify;
                        }

                        .list-attribute {
                            margin: 10px 0px;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;

                            .one-attribute {
                                display: flex;
                                align-items: center;
                                color: #ffffff;
                                min-width: 50%;
                                padding: 10px;

                                .info-image {
                                    margin-right: 16px;
                                }

                                .info-attribute {
                                    .info-header {
                                        font-weight: 500;
                                        font-size: 16px;
                                    }

                                    .info-text {
                                        font-weight: 300;
                                        font-size: 14px;
                                        line-height: 150%;
                                    }
                                }
                            }
                        }
                    }

                    .content-attribute {
                        flex-direction: column;
                    }

                    .info-group {
                        padding-top: 7%;
                        &-header {
                            font-size: 16px;
                            color: white;
                            font-weight: 600;
                        }
                        &-text {
                            font-size: 14px;
                            color: white;
                            font-weight: 400;
                        }
                    }

                    .info-image {
                        display: inline-block;
                        position: relative;
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        border-radius: 4px;
                        background: #ad99e7;
                    }
                    .info-image img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
