$break-point-1: 814px;
$tablet: 768px;
$mobile: 576px;
.mintNFT-box {
    background: #ebe3ff;
    border: 1px solid rgba(202, 186, 245, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    border-radius: 4px;
    margin-bottom: 5px;

    // .first-row {
    //     padding: 12px 20px;
    //     align-items: center;
    //     border-bottom: 1px solid rgba(202, 186, 245, 0.5);

    //     .preview {
    //         color: #2cd7ff;
    //     }

	// 	.delete-icon {
	// 		cursor: pointer;
	// 		padding: 6px;
	// 		border-radius: 50%;
	// 		color: #7000ff;
	// 		transition-duration: 0.5s;
	// 		font-size: 38px;
	// 		background: #d9cce9;

	// 		&:hover {
	// 			background: #d5c0f0;
	// 			transition-duration: 0.5s;
	// 		}

	// 		&:active {
	// 			background: #e6d5fb;
	// 			transition-duration: 0.5s;
	// 		}
	// 	}

    //     .expand-icon {
    //         cursor: pointer;
    //         transition-duration: 0.35s;
    //         font-size: 28px;
    //         color: #14142b;
    //     }

    //     .input {
    //         @extend .input;
    //         width: 80%;
    //     }

    //     .one-field {
    //         @extend .one-field;
    //     }
    // }

    .main-box {
        padding: 30px 40px;
        box-sizing: border-box;
		border-top: 1px solid rgba(202, 186, 245, 0.5);
       
        @media (max-width: $mobile) {
            margin: 8px 12px;
            padding: 12px;
        }

        .one-field {
            @extend .one-field;
            align-items: flex-start !important;
            margin-bottom: 30px;

            .table-attribute {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .table {
                    width: 95%;
                }

                .add-icon {
                    padding-top: 14px;
                    cursor: pointer;
                }
            }
        }
    }

    .box-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px 30px 30px;
        @media (max-width: $mobile) {
            padding: 8px 20px 20px 20px;
        }
        .left {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #00ffe7;
        }

        .right {
            @media (max-width: $mobile) {
                text-align: center;
            }
            .confirm {
                background: #00c6fb;
                border-radius: 4px;
                font-weight: 600;
                font-size: 12px;
                line-height: 150%;
                padding: 5px 20px;
                color: #ffffff;
                margin-right: 12px;
                @media (max-width: $mobile) {
                    margin-bottom: 8px;
                    width: 45px;
                    margin-right: 0px;
                }
            }

            .delete {
                background: #697fa0;
                border-radius: 4px;
                font-weight: 600;
                font-size: 12px;
                line-height: 150%;
                padding: 5px 20px;
                color: #ffffff;
                @media (max-width: $mobile) {
                    width: 45px;
                }
            }
        }
    }
}

.input {
    color: #402a7d;
    background: none;
    border: none;
    margin: 0 auto;

    &:focus {
        outline: none !important;
        border: none;
        border-bottom: 1px solid #402a7d;
    }
}

.one-field {
    @media (max-width: $tablet) {
        margin-top: 4px;
    }
    display: flex;
    align-items: center;

    .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #402a7d;
    }

    .image-upload {
        input {
            display: none;
        }

        .upload-img-icon {
            cursor: pointer !important;
            padding-left: 5px;
        }
    }

    .input {
        @extend .input;
        width: 80%;
        margin: 0px !important;
        margin-left: 5px !important;
    }
}
