$mobile: 576px;
.mint-nft {
    .back {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 28px;
        cursor: pointer;
        width: fit-content;
    }

    .table {
        font-size: 14px;
        line-height: 150%;
        @media (max-width: $mobile) {
            font-size: 13px;
            text-align: center;
        }
        &-header {
            padding: 10px 20px;
            background: #faf0ff;
            border-radius: 4px;
            color: #4200ff;
            font-weight: 600;
            margin-bottom: 5px;

            .required-icon {
                font-size: 14px;
                color: #da0a0a;
            }
        }

        .table-body {
            position: relative;

            .table-row {
                background: #ebe3ff;
                box-sizing: border-box;
                backdrop-filter: blur(50px);
                margin-bottom: 5px;
                border-radius: 4px;

                .main-row {
                    padding: 10px 20px;
                    color: #402a7d;

                    .image-upload {
                        input {
                            display: none;
                        }

                        .upload-img-icon {
                            cursor: pointer !important;
                            padding-left: 5px;
                        }
                    }

                    .input {
                        color: #402a7d;
                        background: none;
                        border: none;
                        margin: 0 auto;
                        width: 80%;
                        padding: 4px;

                        &:focus {
                            outline: none !important;
                            border: none;
                            border-bottom: 1px solid #402a7d;
                        }
                    }

                    .invalid {
                        border: 1px solid rgba(240, 134, 134, 0.99);
                        border-radius: 4px;

                        &:focus {
                            border-radius: 0px;
                        }
                    }

                    .error-mes {
                        color: #dc615d;
                    }

                    .preview {
                        color: #2cd7ff;
                    }

                    .delete-icon {
                        cursor: pointer;
                        padding: 6px;
                        border-radius: 50%;
                        color: #c190ff;
                        transition-duration: 0.5s;
                        font-size: 38px;

                        &:hover {
                            transform: scale(1.15);
                        }
                    }

                    .expand-icon {
                        cursor: pointer;
                        transition-duration: 0.35s;
                        font-size: 28px;
                        color: #14142b;
                    }
                }

                .expand-row {
                    border-top: 1px solid rgba(202, 186, 245, 0.5);
                }
            }

            .add-nft-open {
                position: absolute;
                right: -50px;
                bottom: 455px;
                cursor: pointer;
            }
        }

        .add-nft {
            background: #ebe3ff;
            border: 1px solid rgba(202, 186, 245, 0.3);
            box-sizing: border-box;
            backdrop-filter: blur(50px);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 14px 20px;
            color: #c190ff;
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .group-button {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 28px;

        .submit {
            padding: 8px 25px;
            background: #df01ff;
            border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            margin-left: 12px;
            color: #ffffff;
        }

        .preview {
            background: #8301ff;
            border-radius: 4px;
            padding: 8px 25px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
        }
    }
}

.loading-modal {
    border-radius: 8px;
    padding: 10px;
    max-width: 370px;
    z-index: 9999;

    :global(.modal-content) {
        width: 370px;
        background: #ebe3ff;
        border-radius: 8px;
    }

    .modal-body {
        background: #ebe3ff;
        border-radius: 8px;
        // padding: 10px;

        .top-body {
            text-align: right;

            .icon-cancel {
                color: #9254c8;
                cursor: pointer;
            }
        }
    }

    .center-body {
        margin: 20px;
        text-align: center;

        .icon-list {
            color: #9254c8;
            font-size: 120px;
        }
    }

    .bottom-body {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #402a7d;
        }

        .content {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #4200ff;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .MuiButton-root {
            text-transform: none !important;
            background: linear-gradient(180deg, #6441a5 0%, #2a0845 100%);
            border-radius: 4px;
            color: white;
            width: 88%;
			margin-top: 10px;
        }
    }
}
