.filter {
    background: rgba(253, 245, 232, 0.5);
    backdrop-filter: blur(20px);
    min-height: 100%;

    .game-info {
        display: flex;
        flex-direction: column;
        padding: 35px 42px;
        align-items: center;
        justify-content: center;
        position: relative;

        .image-box {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 3px;
            z-index: 2;
            // background: #402a7d;
            text-align: center;

            .game-image {
                width: 74px;
                height: 74px;
                border-radius: 50%;
                padding: 0px;
                z-index: 3;
                background: #e7dfff;
            }
        }

        .game-name {
            position: absolute;
            bottom: -28%;
            width: fit-content;
            background: rgba(254, 253, 255, 0.25);
            border: 1px solid #CF9C8F;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 20px 50px 14px 50px;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: 
            #833F1D;
			text-align: center;

            .icon-copy {
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

				&:active {
					transition-duration: 0.35s;
					transform: scale(1.2);
					
				}
            }
        }
    }

    .menu {
        margin-top: 80px;
        border-top: 1px solid #944850;
        padding-top: 40px;

        .menu-item {
            padding: 18px 50px;
            color: #944850;
            cursor: pointer;
            transition-duration: 0.35s;

            // &:hover {
            //     background: #bcabea;
            //     color: #8b1eeb;
            // }

            .menu-title {
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 24px;
                }
            }
        }

        // .active {
        //     background: #bcabea;
        //     color: #8b1eeb;
        // }
    }
}
