$break-point-1: 814px;
$mobile: 576px;
.profile {
  padding-bottom: 60px;

  .right {
    color: #ffffff !important;

    @media (max-width: $break-point-1) {
      margin-left: 0px;
      max-width: 100%;
    }
    .group-button {
      width: fit-content;
      border-radius: 4px;
	  background: linear-gradient(270.09deg, #6441A5 0.1%, #2A0845 99.94%);
      margin-left: auto;
      margin-right: 3%;

      .button {
        padding: 8px 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        @media (max-width: $mobile) {
          font-size: 14px;
          padding: 6px 12px;
        }
      }
      .text {
        color: #FFFFFF;
      }

      .active {
		background: #FFFFFF;
        color: #402A7D !important;
      }
    }

    .content {
      width: 100%;
      margin-top: 40px;
    }
  }
}
