@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');
$break-point-1: 814px;
$mobile: 576px;
// $break-point-1: 1180px;
$break-point-2: 912px;
$break-point-3: 767px;
.profile {
  padding-bottom: 60px;

  .right {
    color: #ffffff !important;
    // margin-left: 48px;
    @media (max-width: $break-point-1) {
      margin-left: 0px;
      max-width: 100%;
    }
    .group-button {
      width: fit-content;
      border-radius: 4px;
      // background: #ffffff;
      margin-left: auto;
      margin-right: 0px;

      .button {
        padding: 8px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        font-family: 'Montserrat';
        border-radius: 0px;
        color: white;
        @media (max-width: $mobile) {
          font-size: 14px;
          padding: 6px 12px;
        }
        background: linear-gradient(94.08deg, #7F00FF -1.88%, #E100FF 100%);
        border-radius: 6px;
      }
      
      .text {
        background: linear-gradient(270.09deg, #6441A5 0.1%, #2A0845 99.94%);
        color: #fff;
      }

      .active {
        background: #fff;
        color: #402A7D;
      }
    }
    
    .content {
      width: 100%;
      margin-top: 40px;
    }
  }
}
