$break-point-1: 814px;
$mobile: 576px;
// $break-point-1: 1180px;
$break-point-2: 912px;
$break-point-3: 767px;
.view-nft {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: 
            #833F1D;
        }
        .drop-down {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #56428F;
            border-radius: 6px;
            padding: 10.5px 12px;
            width: 144px;
            margin-left: 36px;
            font-size: 14px;
            :global{
              .anticon-down{
                font-weight: bold;
                font-size: 14px;
              }
            }
        }
        .group-search {
            display: flex;
            align-items: center;

            .search {
                width: 240px;
                border-bottom: 2px solid rgba(188, 166, 150, 0.5);
                color: 
                #833F1D !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: "Montserrat", sans-serif;

                .icon {
                    cursor: pointer;
                    color: #944850;
                }
            }

            .button {
                margin-left: 20px;
                background: #a86c60;
                border-radius: 6px;
                color: #f6f7fb;
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                padding: 10px 24px;
            }
        }
    }

    .list-nft {
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        &::after {
            content: "";
            flex: auto;
        }
    }
}

.pagination {
    text-align: center;
    margin-top: 30px;
}
.menu-dropdown{
    background-color: #56428F !important;
    padding: 0px;
    li{
      color: #fff !important;
      // font-weight: 600;
    }
    li:hover{
      background-color: #56428F !important;
  
    }
    &--active{
      background: linear-gradient(94.08deg, #7F00FF -1.88%, #E100FF 100%);
    }
    :global{
      .ant-dropdown{
        background-color: #56428F !important;
      }
    }
  }
 